  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8" />
      <!--For responsive		-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <title>Medical HTML</title>

      <!--Owl Carousel	-->
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      />
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
      />

      <!--Bootstra CSS	-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css2/bootstrap.min.css') }}" type="text/css" />

      <!--Custom Style CSS	-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css2/style.css') }}" type="text/css" />
    </head>

    <body>
      <!--Start Header	-->

    <!--End Header	-->

      <!--Start Hero Banner	-->
      <section class="hero-banner" id="home-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="banner-text-wrap">
                <h1 class="text-white">We Provide Best Medical Services</h1>
                <p class="text-white">
                  To try our Machine Learning based <b>Free</b> Body checkups, click on Check Services button !
                </p>
                <a href="#services-section" class="btn btn-white"
                  >Check Services</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End Hero Banner	-->

      <!--Start Features Section	-->
      <section class="features-section">
        <div class="container">
          <div class="row gx-0">
            <div class="col-md-4">
              <div class="features-box bg1">
                <img src="static/images/calendar.png" alt="" />
                <h3>24 Hours Services</h3>
                <p>
                  We guarantee a 24 hr website service with maximum accuracy as well as optimum results. Contact us at any hour of the day and we shall revert to you within 8 hours on the clock.
                  <br>
                </p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="features-box bg2">
                <img src="images/staff.png" alt="" />
                <h3>Professional Developing Team</h3>
                <p>
                  We as a developers og the MyDoc website aim at providing free health checkups with . Our developing team comprises of skilled Full Stack Developers.
                  <br>
                </p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="features-box bg3">
                
                <h3>Free Service</h3>
                <p>
                  Where an average middle class person spends one-third of his savings in medical checkups and treatments, we aim at reducing this cost by providing free services to all.
                <br>
                </p>
                <br>

              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End Features Section	-->

      <!--	Start About Section-->
      <section class="about-section" id="about-section">
        <div class="container">
          <div class="row gx-5">
            <div class="col-md-6">
              <div class="about-media">
                <img src="static/images/about.jpg" alt="" />
              </div>
            </div>

            <div class="col-md-6">
              <div class="about-info">
                <h3>About Us</h3>
                <p class="lead">
                  Welcome to our platform for detecting eye diseases and brain
                  tumors. Our team of dedicated developers and medical
                  professionals is passionate about improving healthcare
                  accessibility
                </p>
                <p>
                  Our team is made up of experienced software developers, medical
                  professionals, and healthcare experts who are passionate about
                  using their skills to improve people's lives. We have spent
                  countless hours researching and developing our platform to
                  ensure that it is accurate, reliable, and user-friendly.
                </p>
  
                <p>
                  We are committed to providing the highest level of service to
                  our users and are always looking for ways to improve our
                  platform. Our ultimate aim is to become the go-to resource for
                  anyone looking to monitor their eye and brain health and to help
                  prevent and detect serious medical conditions early on.
                </p>
  
                <p>
                  At our core, we are driven by a deep sense of purpose and a
                  desire to make a positive impact on the world. We are dedicated
                  to our mission and will continue to work tirelessly to achieve
                  our goals.
                </p>
                
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--	End About Section-->

      <!--Start services Section-->
      <section class="services-section" id="services-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="section-title text-center">Services</h2>
            </div>

            <div class="col-md-4">
              <div class="services-box">
                <img src="static/images/eye-iconx.png" alt="" />
                <h3>Eye</h3>
                <p>
                  Retina Image required for Detection of Eye Disease.
                </p>
           
                <form action="/my-link/">
                  <input type="submit" value="Test Now" />
                </form>
              
              
              </div>
            </div>

            <div class="col-md-4">
              <div class="services-box">
                <img src="static/images/blood-icon-2.png" alt="" />
                <h3>Malaria Test</h3>
            
                <p>
                  Blood cell image required for Malaria Detection
                </p>
          
                  
                  <form action="/my-link2/">
                    <input type="submit" value="Test now" />
                  </form>
                
                
              </div>
            </div>

            <div class="col-md-4">
              <div class="services-box">
                <img src="static/images/heart-iconx.png" alt="" />
                <h3>Chest</h3>
                
                <p>
               MRI scan of lungs required for Pneumonia detection.
                </p>
                <form action="/my-link3/">
                  <input type="submit" value="Test Now" />
                </form>
              </div>
            </div>
            <div class="col-md-4">
              <div class="services-box">
                <img src="static/images/brain-icon-2.png" alt="" />
                <h3>Brain</h3>
                
                <p>
                  MRI Scan of Brain required for Brain tumour detection
                </p>
                <form action="/my-link4/">
                  <input type="submit" value="Test Now" />
                </form>
              </div>
            </div>

          <div class="col-md-4">
              <div class="services-box">
                <img src="static/images/brain-icon-2.png" alt="" />
                <h3>Alzimer</h3>

                <p>
                  MRI Scan of Brain required for Alzimer detection
                </p>
                <form action="/my-link5/">
                  <input type="submit" value="Test Now" />
                </form>
              </div>
            </div>

            
      <!--End services Section-->

      <!--Start reviews Section	-->
      <section class="reviews-section bg-overlay" id="reviews-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="section-title">Customer Reviews</h2>
            </div>

            <div class="col-md-12">
              <div class="reviews-slide owl-theme owl-carousel">
                <div class="item">
                  <div class="review-box">
                    <div class="review-media">
                      <img src="static/images/client1.jpg" alt="" />
                    </div>
                    <div class="review-info">
                      <p>
                        "I stumbled upon this website when I was looking for
                        information about my frequent headaches. The eye disease
                        and brain tumor detection tool was easy to use and gave me
                        peace of mind when it didn't detect anything alarming. The
                        option to chat with a doctor was a game-changer for me, as
                        I could get quick and reliable advice without having to
                        leave my home. The whole experience was hassle-free and
                        efficient, and I would definitely recommend this website
                        to anyone looking for reliable health information and
                        support."
                      </p>
                      <h4>Harshal Chawan</h4>
                      <h5></h5>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="review-box">
                    <div class="review-media">
                      <img src="static/images/client2.jpg" alt="" />
                    </div>
                    <div class="review-info">
                      <p>
                        "While I appreciate the convenience of being able to check
                        for eye diseases and brain tumors online, I found the tool
                        to be somewhat limited in its capabilities. It didn't
                        detect some symptoms that I had been experiencing, and I
                        still felt unsure about my health even after using the
                        tool. The option to chat with a doctor was helpful, but I
                        would have preferred more in-depth information about my
                        condition. Additionally, the website was a bit difficult
                        to navigate, and I had trouble finding the information I
                        needed. Overall, while the website has potential, I think
                        it needs to improve its accuracy and user experience
                        before I would recommend it to others."
                      </p>
                      <h4>Dhruvil Doshi</h4>
                      <h5></h5>
                    </div>
                  </div>
                </div>

                <div class="item">
                  <div class="review-box">
                    <div class="review-media">
                      <img src="static/images/client3.jpg" alt="" />
                    </div>
                    <div class="review-info">
                      <p>
                        "I was hesitant to use an online tool for my eye and brain
                        health concerns, but I am so glad I found this website.
                        The eye disease and brain tumor detection tool was
                        incredibly thorough, and the results were easy to
                        understand. The option to chat with a doctor was a great
                        feature, as I was able to get personalized advice and
                        recommendations from a licensed medical professional.
                        Overall, I was impressed with the user-friendly design of
                        the website and the quality of the services offered. I
                        would definitely recommend this website to anyone looking
                        for a convenient and reliable way to monitor their eye and
                        brain health."
                      </p>
                      <h4>Arna Hoskote</h4>
                      <h5></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End reviews Section	-->

      <!--Start Booking Section-->



      <!--End Booking Section-->

      <!--Start Blog 	-->
      <section class="blog-section" id="blog-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="section-title text-center">Blogs and Research Papers</h2>
            </div>

            <div class="col-md-4">
              <div class="blog-box">
                <div class="blog-media">
                  <iframe src="static/RPs\LUNG_CANCER.pdf" width="100%" height="200px"
                    >Click here</iframe
                  >
                </div>
                <div class="blog-info">
                  <h3>
                    <a href="#"
                      >Lung Cancer Risk Prediction using Machine Learning
                    </a>
                  </h3>
                  <!-- <iframe src="RPs\LUNG_CANCER.pdf" width="100%" height="300px">Click here</iframe> -->

                  <ul class="meta"></ul>
                  <p>
                    Lung cancer prediction using machine learning involves
                    analyzing patient data to identify patterns and predict the
                    likelihood of developing lung cancer. This can include factors
                    such as smoking history, genetics, and environmental
                    exposures. By training algorithms on large datasets, machine
                    learning models can help healthcare professionals make more
                    accurate predictions and improve patient outcomes. Here's a
                    Research Paper on the basis of this study.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="blog-box">
                <div class="blog-media">
                  <iframe
                    src="static/RPs\Pneumonia_Detection_Using_CNN_based_Feature_Extraction.pdf"
                    width="100%"
                    height="200px"
                    >Click here</iframe
                  >
                </div>
                <div class="blog-info">
                  <h3>
                    <a href="#"
                      >Pneumonia detection using CNN based Feature Extraction
                    </a>
                  </h3>
                  <ul class="meta"></ul>
                  <p>
                    The paper titled "Pneumonia detection using Convolutional
                    Neural Networks: A Deep Learning approach" proposed a novel
                    CNN-based model for detecting pneumonia. The model used
                    transfer learning and fine-tuning of a pre-trained CNN for
                    feature extraction and classification, achieving high
                    performance on the Chest X-ray dataset. Here's a research
                    paper on the basis of this study.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="blog-box">
                <div class="blog-media">
                  <iframe
                    src="static/RPs\Brain_Tumour_Detection_ResearchPaper.pdf"
                    width="100%"
                    height="200px"
                    >Click here</iframe
                  >
                </div>
                <div class="blog-info">
                  <h3>
                    <a href="#">Brain Tumour Detection using Machine Learning </a>
                  </h3>
                  <ul class="meta"></ul>
                  <p>
                    The research paper "Brain Tumor Detection Using Machine
                    Learning Techniques" proposed a machine learning-based
                    approach for detecting brain tumors. The model used a
                    combination of wavelet transform and principal component
                    analysis to extract features from MRI images. The approach
                    achieved high performance on a dataset of 60 MRI images. Her's
                    a research paper on the basis of this study.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End Blog 	-->


      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="footer-widget">
                <h3>Contact Us</h3>
                <ul class="footer-address">
                  <li>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <div>
                      <h4>Address</h4>
                      <p>
                        33 Lorem Ipsum is simply dummy <br />text of the printing
                      </p>
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <div>
                      <h4>Phone</h4>
                      <p><a href="tel:+0123456789">+0123456789</a></p>
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <div>
                      <h4>Email</h4>
                      <p><a href="tel:+0123456789">Support@company.com</a></p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="footer-widget">
                <h3>Quick Links - Brain Tumour</h3>
                <ul class="footer-menu">
                  <li><a href="https://www.indushealthplus.com/brain-tumour-types-causes-symptoms-prevention.html">Causes</a></li>
                  <li><a href="https://www.indushealthplus.com/brain-tumour-types-causes-symptoms-prevention.html">symptoms</a></li>
                  <li><a href="https://www.indushealthplus.com/brain-tumour-types-causes-symptoms-prevention.html">Precaution</a></li>
                  <li><a href="https://www.indushealthplus.com/brain-tumour-types-causes-symptoms-prevention.html">Prevention</a></li>
                </ul>
              </div>
              <div class="footer-widget2">
                <h3>Quick Links - Malaria</h3>
                <ul class="footer-menu">
                  <li><a href="https://my.clevelandclinic.org/health/diseases/15014-malaria">Causes</a></li>
                  <li><a href="https://my.clevelandclinic.org/health/diseases/15014-malaria">symptoms</a></li>
                  <li><a href="https://my.clevelandclinic.org/health/diseases/15014-malaria">Precaution</a></li>
                  <li><a href="https://my.clevelandclinic.org/health/diseases/15014-malaria">Prevention</a></li>
                </ul>
              </div>
              <div class="footer-widget3">
                <h3>Quick Links - Retinal Disease</h3>
                <ul class="footer-menu">
                  <li><a href="https://my.clevelandclinic.org/health/diseases/10705-retinal-detachment">Causes</a></li>
                  <li><a href="https://my.clevelandclinic.org/health/diseases/10705-retinal-detachment">symptoms</a></li>
                  <li><a href="https://my.clevelandclinic.org/health/diseases/10705-retinal-detachment">Precaution</a></li>
                  <li><a href="https://my.clevelandclinic.org/health/diseases/10705-retinal-detachment">Prevention</a></li>
                </ul>
              </div>
              <div class="footer-widget4">
                <h3>Quick Links - Lungs</h3>
                <ul class="footer-menu">
                  <li><a href="https://my.clevelandclinic.org/health/diseases/10705-retinal-detachment">Causes</a></li>
                  <li><a href="https://my.clevelandclinic.org/health/diseases/10705-retinal-detachment">symptoms</a></li>
                  <li><a href="https://familydoctor.org/condition/pneumonia/">Precaution</a></li>
                  <li><a href="https://www.nhlbi.nih.gov/health/pneumonia/prevention#:~:text=Good%20hygiene%20(washing%20your%20hands,your%20risk%20of%20getting%20pneumonia.">Prevention</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
      
      

      <!--Script-->

      <script src="static/js/jquery-3.4.1.min.js" type="text/javascript"></script>

      <!--Bootstra JS	-->
      <script src="static/js/bootstrap.min.js" type="text/javascript"></script>

      <!--Owl Carousel	-->
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        type="text/javascript"
      ></script>

      <!--Custom JS	-->
      <script src="static/js/custom.js" type="text/javascript"></script>

      <script>
        $(".reviews-slide").owlCarousel(
          {
          loop: true,
          margin: 10,
          nav: false,
          responsive: {
            0: {
              items: 1,
            },
            600: {
              items: 1,
            },
            1000: {
              items: 1,
            },
          },
        });
      </script>
    </body>
  </html>
